html {
  background: #eeeeee;
}
h1 {
  color: #B79855;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px auto;
}
h1 span {
  color: orange;
}
#main {
  width: 520px;
  margin: 0 auto;
  padding: 10px;
  background-image: url("http://us.battle.net/wow/static/images/wiki/zone/bgs/firelands.jpg");
  background-position: -100px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}
#name-list p {
  color: #B79855;
  height: 24px;
  line-height: 24px;
}
#name-list .name {
  float: left;
  font-weight: bold;
  font-size: 1.4em;
  margin-left: 6px;
}
#name-list .name a:link {
  text-decoration: none;
}
#name-list .ilvl {
  float: right;
}
#name-list .ilvl .equipped {
  font-weight: bold;
}
#name-list .progression {
  float: right;
  text-align: center;
  width: 6em;
}
#name-list .remove {
  float: right;
  font-size: 1.4em;
  font-family: sans-serif;
  font-weight: bold;
  color: #C41F3B;
  margin-right: 2px;
  cursor: pointer;
}
#name-list img {
  float: left;
  padding: 1px;
  margin: 2px;
}
#name-list img.selected {
  border: 2px solid blue;
  margin: 0;
}
#add input {
  width: 506px;
  line-height: 1.4em;
  padding: 6px;
  margin-top: 6px;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#add {
  position: relative;
}
#not-found {
  color: #C41F3B;
  position: absolute;
  top: 50%;
  right: 6px;
  margin: -0.4em 0 0 0;
  display: none;
}
#notes {
  width: 520px;
  margin: 10px auto;
  text-align: center;
  color: #777;
  display: none;
}
#realm-dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 4px;
}
.dropdown-menu {
  float: right;
  left: auto;
  right: 0;
}
#server-down {
  width: 506px;
  padding: 8px 14px;
  margin: 10px auto;
  display: none;
}
strong {
  font-weight: bold;
}
.character-class-1 {
  color: #C79C6E;
}
.character-class-2 {
  color: #F58CBA;
}
.character-class-3 {
  color: #ABD473;
}
.character-class-4 {
  color: #FFF569;
}
.character-class-5 {
  color: #FFFFFF;
}
.character-class-6 {
  color: #C41F3B;
}
.character-class-7 {
  color: #2459FF;
}
.character-class-8 {
  color: #69CCF0;
}
.character-class-9 {
  color: #9482C9;
}
.character-class-11 {
  color: #FF7D0A;
}
